@import './modules/universals.scss';
@import './modules/variables.scss';


.section_header{
    display: flex;
    flex-direction: column;
    background-color:$secundary-color;;

    p{
        display:none;
    }

    .image_profile {
        height: 3.68em;
        figure{
            margin-left: 1.4em;
            margin-top: 0.3em;
            width: 50px;
            height: 50px;
    
    
            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }
        
        
    }
    

   
}

.search{
    display:flex;
    flex-direction:row;
    background-color:$third-color;
    height: 49px;
    max-width: 100%;
    align-items: center;

    .chat-input{
        text-align: center;
        background-color: aliceblue;
    }

    form{
        display: inline-flex;
        padding-top: 3px;
        width: 100%;
        justify-content: center;
        

        input{
            border: 1.4px solid rgba(95, 25, 95, 0.847);
            border-radius: 15px;
            width: 90%;
            padding: 4px;
            margin-left: -10px;

        }
        button{
          border-style: hidden;
          background-color: aliceblue;
          margin-top: 3.4px;
          margin-left: -30px;
          height: 18px;
            
        }
    }
  
  
}


.section_contenido {
    display: flex;
    flex-direction: row;
    margin-right: 5px;

    figure img{
        margin-left: 1.4em;
        border-radius: 50%;
        margin-top: 0.3em;

    }
    .contenedor2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        margin-left: 1em;


        .informacionPersona{
            display: inline-flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            

            p{
                font-family:$typography-body;
            }

            h6 {
            
                font-family:$typography-body;
                font-size:small;
                font-weight: 400;
                color: gray;
            }
            
        }

        .informacionChat{
            display: flex;
            width: 100%;
            flex-direction: row;
            padding-right: 1em;
            justify-content: flex-start;
            align-items: center;

            h6 {
                margin-left: 1em;
                font-family:$typography-body;
                font-size: small;
            }

            figure{
                color:violet;

            }

            .check-figure{
                color:violet;
                &[data-flag="false"] {
                    color: gray; // Cambiar color a negro
                }
            }
        }
    }
    
}

.section_contenido:hover{
    background-color:rgba(246, 232, 252, 0.833);
    
}







#Home_aside{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    background-color: white;
}







/* Parte Modal*/

.modalCart{
  display:flex;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: #05050549;
 
}

.modalCart section{
  width: 40%;
  height: 100%;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: left;
}

.encabezadoModal{
    height: 87px;
    display:flex;
    align-items: flex-end;
    background-color: $secundary-color;
    span {
        font-family: $typography-title;
        font-weight: 600;
        font-size: x-large;
    }
    button{
        width: auto;
        margin-bottom:5px;
        padding: 0%;
        background-color: transparent;
        border-style: none;
        .fa-solid , .fa-arrow-right{
            transform: scaleX(-1);
            width: 58px;
            font-size: x-large;
           
        }
        
    }
}

.cuerpoModal{
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    
    justify-content: flex-start;

    img{
      border-radius: 50%;
      margin-top: 2em;
      width: 220px;
      height: 220px;
      align-items: center;
      align-content: center;
      align-self: center;
      z-index: 5;
    }
    
    h4{
        font-family: $typography-body;
        margin: 0.7em;
    }
    .modificarNombre{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        background-color: rgb(146 97 135 / 18%);
        /* border-radius: 38px 45px 47px 39px; */
        height: 5.5em;
        
        .edicion {
            display:flex;
            flex-direction: row;
            justify-content: space-between;

            p{
                font-family: $typography-body;
                margin-left: 0.7em;
            }

            button{
                background-color: transparent;
                width: 30px;
                height: 30px;
                border-style: none;
                font-size: larger;
                margin-right: 0.1em;
    
            }

        };
        
    };


    .botonEditarFotoUsuario{
      color:black;
      background-color: transparent;
      width: 30px;
      height: 30px;
      border-style: none;
      font-size: larger;
      align-self: center;
      position: absolute;
      top: 10.8em;
    }

    #editarImagenPerfil:hover{
      opacity: 0.3;
      z-index: 1; 
    }

    
  
    
}

.hidden {
    display: none;
}

.show {
    display: flex;
}


// Chat detalles //-----------

body {
    font-family: "Poopins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e0e0e0;
}
.chat-container {
    width: 60%;
    /* max-width: 600px; */
    height: 100vh;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.chat-header {
    background: #D3C0EB;
    color: black;
    height: 3.7em;
    display: flex;
    padding-left: 1.2em;
    justify-content: flex-start;
    align-items: center;
}

.img-chat-container {
  width: 30px; 
  height: auto; 
  margin-left: 850%;
  transition: filter 0.10;
}

.img-chat-container:hover {
  color: blanchedalmond;
  cursor: pointer;
  filter: brightness(0.5); 
  cursor: pointer;
}


.chat-header h2 {
    margin-top: 0.4em;
    font-size: 1.2rem;
}
.chat-header .status {
  font-size: 0.8rem;
}
.chat-body {
  padding: 20px;
  overflow-y: auto;
   background-image: url("../assets/images/fonde\ chat\ c.jpg");
  background-repeat: no-repeat;
  background-position: center center; /* Centra la imagen */
  background-size: cover;
  overflow-y: auto;
}

.chat-body h4 {
  display: inline-block;
  padding: 5px 10px; 
  border-radius: 15px; 
  background-color: #9F67EB; 
  color: black;
  font-weight: bold; 
  text-align: center; 
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.message-received, .message-sent {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 18px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 16px; /* Tamaño de la fuente */
  line-height: 1.4; /* Espaciado entre líneas */
}
.message-sent {
  background: #00bfa5;
  background-color: #9F67EB; /* Fondo azul para mensajes enviados */
  color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  text-align: right; /* Alinea el texto a la derecha para los mensajes enviados */
  float: right;
  clear: both;
}

.message-received {
  background: #f0f0f0;
  float: left;
  clear: both;
  margin-left: 10px;
  margin-right: auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.message-received button, .message-sent button {
  background: none;
  border: none;
  color: inherit; /* Hereda el color de texto del mensaje */
  padding: 0;
  cursor: pointer;
}

/* media para dispositivos móviles */
@media (max-width: 600px) {
  .message-received, .message-sent {
    max-width: 75%;
  }
}
.message {
  background: #f0f0f0;
  float: left;
  clear: both;
}
.chat-footer {
  background: #f0f0f0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  z-index: 1; /* Agregado para asegurar que el botón morado esté debajo del ícono negro */
  justify-content: flex-start; /* Alinea los ítems al inicio del contenedor */
}

.icon-sent{
  width: 30px; 
  height: auto; 
  position: absolute; 
  right: 43px;
  top: 50%; 
  transform: translateY(-50%);
  z-index: 2; /* Asegura que el ícono esté por encima del botón morado */
}
.chat-footer input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 18px;
}
.chat-footer button {
  background: #9F67EB;
  color: black;
  border: none;
  padding: 20px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.chat-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.chat-icons i {
  font-size: 24px; 
  color: black; 
  cursor: pointer;
  margin-right: 10px;
}

.chat-detail-container {
  width: 30%;
  height: 80vh; 
  background: #fff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  overflow: hidden; /* Para que el contenido no se salga de los bordes */
  display: flex;
  flex-direction: column; /* Alinea verticalmente el contenido */
  position: fixed; /* Fija la posición para que no se mueva al hacer scroll */
  right: 2%; 
  top: 10%; 
}

.chat-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #D3C0EB;
  color: black;
}

.chat-detail-header h2 {
  font-size: 1.2rem;
  margin: 0;
}

.chat-close-button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.chat-search {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Línea para separar de la sección de mensajes */
}

.icon-search-chat img {
  width: 15px;
  height: auto; /* Mantiene la proporción de la imagen */
}

.chat-search input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd; 
  border-radius: 4px;
}

.chat-detail-body {
  padding: 20px;
  overflow-y: auto; /* Permite hacer scroll si hay muchos mensajes */
}

/* Para los mensajes dentro de .chat-detail-body */
/* .message {
  margin: 10px 0;
  padding: 10px;
  background: #9F67EB;
  border-radius: 18px;
  display: inline-block;
} */

/* A */
.message-menu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.message-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.message-menu ul li:hover {
  background-color: #ddd;
}
  
  /* Esconde el menú cuando el click es fuera de éste */
  
  /* Estilo del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
.close-button {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
#message-to-edit {
    width: 100%;
    height: 100px;
}
  
#save-message {
    background-color:#9F67EB;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  





//Responsive


@media screen and (max-width: 450px){
    #Home_aside {
        width: 100%;
    }

    .section_header{
        p{
            display: block;
            font-family: $typography-body;
            font-size:medium;
            background-color: white;
            padding: 3px;
            text-align: center;
        }
    }
}
